.header {
    background-image: url(../src/assets/images/aumentar-score-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;

}

.header__container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    height: 800px;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
    gap: 1.5rem;

}

.header__one {
    color: white;
    background-color: rgba(70, 167, 142, 0.397);
    width: 350px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 15px;
}

.header__call {
    text-transform: uppercase;
    font-size: 2.850rem;
    text-align: center;
    color: rgb(255, 182, 23);
    font-weight: 500;
    /* font-style: italic; */
    height: 200px;
    display: flex;
    align-items: center;
}

.header__video {
    width: 100%;
    height: 450px;
    max-height: 100%;
    padding-bottom: 20px;
}

.header__button {
    color: white;
    max-width: 500px;
    max-height: 100px;
    height: fit-content;
    width: 90%;
    background-color: red;
    outline: none;
    border: 1px solid red;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 1.10rem;
    padding: 10px 30px;
    font-weight: 500;
    animation: pulse 2s ease-in-out infinite;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
}

.header__button:hover {
    cursor: pointer;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}


.header__security {
    max-width: 420px;
    width: 70%;
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    .header__container {
        height: 800px;
        padding: 30px 0;
        gap: 0.5rem;
        justify-content: space-around;
    }

    .header__call {
        font-size: 1.5rem;
        padding-top: 20px;
    }

}


.block1 {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    padding: 50px 0;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


.block1__image {
    max-width: 400px;
    width: 50%;
    align-self: center;

}

.block1__division {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 2rem;
    max-width: 600px;
    min-width: 80%px;
    width: 100%;

}

.block1__description {
    font-size: 1.25rem;
    font-weight: 300;

}

.block1__button {
    margin-top: 20px;
    color: white;
    max-width: 450px;
    max-height: 100px;
    height: fit-content;
    width: 90%;
    background-color: red;
    outline: none;
    border: 1px solid red;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px 35px;
    font-weight: 500;
    align-self: center;
    animation: pulse 2s ease-in-out infinite;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);

}

.block1__button:hover {
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    .block1 {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /* overflow-x: hidden; */
    }
}

.block2 {
    background-color: rgba(102, 199, 255, 0.384);

}

.block2__container {
    max-width: 1100px;
    width: 90%;
    max-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 5rem;
}


.block2__first {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;


}

.block2__aside1 {
    background-color: #CE37F0;
    width: 6px;
    max-height: 250px;
    margin-right: 20px;

}

.block2__aside2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 200px;

}

.block2__second>img {
    width: 210px;
    height: 210px;
    border-radius: 50%;

}


.block2__third {
    display: flex;
    max-width: 320px;

}


.block3 {
    background-color: #1B5193;

}

.block3__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1300px;
    width: 90%;
    padding: 50px 0;
    gap: 2rem;
}

.block3__title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
}

.block3__title>h2 {
    font-size: 1.65rem;
    font-weight: 600;
    font-style: italic;

}

.block3__title>p {
    font-size: 1.65rem;
    font-weight: 600;
    font-style: italic;


}

.block3__feedbacks {
    display: flex;
    gap: 2rem;
    max-width: 1300px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

}

.block3__audio-card {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 373px;
    height: 280px;
    padding: 0px 20px 20px 20px;
    border-radius: 25px;
    margin-top: 40px;
}


.block3__audio-card>h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 2.155rem;
    position: relative;
    top: -25px;
}

.block3__audio-card>p {
    position: relative;
    top: -25px;
    color: rgb(71, 71, 71);
}

.block3__audio {
    margin-top: 10px;
    position: relative;
    top: -15px;
}

.block3__audio-card>img {
    border-radius: 50%;
    border: 6px solid #CE37F0;
    width: 134px;
    position: relative;
    bottom: 50px;

}



.gap {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    border-top: 3px dotted rgba(255, 255, 255, 0.356);
    background-color: #1B5193;
}


.block4 {
    background-color: #1B5193;

}

.block4__container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    flex-wrap: wrap;
    gap: 2rem;
}

.block4__container>img {
    width: 373px;
    -webkit-box-shadow: 3px 4px 30px -11px rgba(54, 54, 54, 0.75);
    -moz-box-shadow: 3px 4px 30px -11px rgba(54, 54, 54, 0.75);
    box-shadow: 3px 4px 30px -11px rgba(54, 54, 54, 0.75);

}

.block5 {
    background-color: #1B5193;
}

.block5__container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 90%;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    gap: 2rem;
    padding: 35px 0;
}

.block5__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.block5__left>iframe {
    height: 315px;
    width: 560px;
    max-width: 100%;
    outline: none;
    border-radius: 15px;
    border: 2px solid #1B5193;

}

.block5__right {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.block5__right>iframe {
    height: 315px;
    width: 560px;
    max-width: 100%;
    outline: none;
    border-radius: 15px;
    border: 2px solid #1B5193;

}

@media screen and (max-width: 768px) {

    .block5__left>iframe {
        height: 265px;
    }

    .block5__right>iframe {
        height: 265px;

    }
}


.block6{
    background: rgb(245,199,222);
    background: linear-gradient(180deg, rgba(245,199,222,1) 0%, rgba(255,255,255,1) 100%);
}

.block6__container{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    padding: 35px 0;
    gap: 2rem;
    align-items: center;
}

.block6__security{
    width: 85%;
}

.block6__cards{
    width: 85%;
}

.block6__button{
    margin-top: 20px;
    color: white;
    max-width: 450px;
    max-height: 100px;
    height: fit-content;
    width: 90%;
    background-color: red;
    outline: none;
    border: 1px solid red;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 1rem;
    padding: 10px 35px;
    font-weight: 500;
    align-self: center;
    animation: pulse 2s ease-in-out infinite;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
}
.block6__button:hover{
    cursor: pointer;
}


.block7{
    background: rgb(31,78,144);
    background: linear-gradient(45deg, rgba(31,78,144,1) 0%, rgba(213,44,129,1) 100%);
}


.block7__container{
    max-width: 1250px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.block7__title{
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.block7__title > p{
    font-size: 2rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 768px){
    .block7__title > p{
    font-size: 1.5rem;
        
    }
}


.block7__title > span{
    text-align: center;
}

.block7__card-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 25px 0;
}

.block7__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 35px;
    max-width: 500px;
    width: 100%;
    gap: 2rem;
}

.block7__card > img{
    width: 70%;
    position: relative;
    right: 30px;
}

.block7__card > p{
    color: #CE37F0;
    font-weight: 600;
    text-transform: uppercase;
}

.block7__card > h3{
    text-transform: uppercase;
    font-size: 1.55rem;
    text-align: center;
    font-style: italic;
    max-width: 400px;
    padding-bottom: 40px;
}

.block8{
    background-color: aliceblue;
}

.block8__container{
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0;
}


.block8__title{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.block8__title > span{
    color: #CE37F0;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;

}
.block8__title > p{
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #333;
}

@media screen and (max-width: 768px) {
    .block8__title > span{
        font-size: 1.8rem;
    }

    .block8__title > p{
        font-size: 1.5rem;
    }
}

.block8__checkout{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    border-radius: 25px;
    align-items: center;
    gap: 2rem;
    padding-bottom: 50px;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
}



.block8__header{
    background-color: #1091BF;
    border-radius: 25px 25px 0 0 ;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.855rem;
}


.line__through{
    text-decoration: line-through;
}

.block8__price{
    font-size: 5.55rem;
    font-weight: 500;
    color: #1091BF;
}

.block8__checkout > img{
    width: 70%;
}

.block8__button{
    margin-top: 20px;
    color: white;
    max-width: 350px;
    max-height: 100px;
    height: fit-content;
    width: 90%;
    background-color: red;
    outline: none;
    border: 1px solid red;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 1.25rem;
    padding: 10px 35px;
    font-weight: 500;
    align-self: center;
    animation: pulse 2s ease-in-out infinite;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 21px -4px rgba(0, 0, 0, 0.75);
}
.block8__button:hover{
    cursor: pointer;
}